---
import { Icon } from 'astro-icon/components'
---

<div class="flex justify-center gap-6 mt-20 text-text3">
  <a target="_blank" href="https://www.linkedin.com/in/ethan-okamura/">
    <Icon size={64} name="fa-brands:linkedin"/>
  </a>
  <a target="_blank" href="https://github.com/ethanokamura">
    <Icon size={64} name="fa-brands:github-square"/>
  </a>
  <a target="_blank" href="mailto:ethanokamura3@gmail.com">
    <Icon size={64} name="fa-solid:envelope-square"/>
  </a>
</div>