---
interface Props {
	width: string;
	header: string;
}

const {width, header} = Astro.props;
---


<div class={`${width} bg-secondary drop-shadow-black rounded`}>
  <div class="bg-accent rounded-t flex justify-start items-end">
    <div class="flex gap-2 p-3">
      <div class="w-4 h-4 rounded-full bg-red-400 flex items-center justify-center"><div class="w-[0.3rem] h-[0.3rem] rounded-full bg-red-500"></div></div>
      <div class="w-4 h-4 rounded-full bg-yellow-200"></div>
      <div class="w-4 h-4 rounded-full bg-green-300"></div>
    </div>
    <div class="bg-secondary h-8 flex items-end gap-2 px-4 rounded-t-lg">
      <h1 class="font-normal text-text2 text-xl">{header}</h1>
      <span class="text-lg">×</span>
    </div>
  </div>
  <div class="text-start px-6 py-4">
    <slot/>
  </div>
</div>