---
import Head from '../components/Head.astro';
import '/src/styles/global.css';
---
<!doctype html>
<html lang="en">
  <Head title='Ethan Okamura' description='A portfolio site'/>
	<body class="flex flex-col justify-between">
    <div class="flex flex-col items-center w-screen">
      <slot/>
    </div>
	</body>
</html>