---
import Head from '../components/Head.astro';
import '/src/styles/global.css';
const { title, description } = Astro.props;
---
<!doctype html>
<html lang="en">
  <Head title={title} description={description}/>
	<body class="px-5 md:px-10">
    <slot/>
	</body>
</html>